<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="static/css/profile.css"> <!-- Link to your CSS file -->
</head>
<body>
    <p class="header-text">What would you like to do?</p>

    <div class="option-container">
        <div class="option-box">
            <a href="/img_gen">IMAGE GENERATION</a>
        </div>
        <div class="option-box">
            <a href="/sentimental_Analysis">Sentimental Analysis</a>
            <span class="coming-soon">Coming Soon</span>
        </div>
        <div class="option-box">
            <a href="/text_summarization">Text Summarization</a>
            <span class="coming-soon">Coming Soon</span>
        </div>
    </div>
</body>
</html>